[defaults]
gathering = explicit
library = ansible-modules/core:ansible-modules/extras
lookup_plugins = misc/lookup-plugins:ansible/lib/ansible/runner/lookup_plugins
roles_path = ./roles

[ssh_connection]
pipelining = True
control_path = %(directory)s/%%h
