BUILD=""

DNS_PRIMARY="8.8.8.8"
DNS_SECONDARY="8.8.4.4"

REGISTRY="quay.io/rocketware"

CONTAINER_PREFIX="datingnode-build"
CONTAINER_BASE="$CONTAINER_PREFIX-base"
CONTAINER_DATABASE="$CONTAINER_PREFIX-database"

IMAGE_UBUNTU="ubuntu:14.04"

IMAGE_PREFIX="datingnode"
IMAGE_BASE="$REGISTRY/$IMAGE_PREFIX-base:$BUILD"
IMAGE_DATABASE="$REGISTRY/$IMAGE_PREFIX-database:$BUILD"

# ex: noet ts=4 filetype=sh
