---

deployment_mode: "{{ deployment_mode | default ('vagrant') }}"
deployment_name: "{{ deployment_name | default ('') }}"

developer_name: "{{ developer_name | default ('') }}"
developer_email: "{{ developer_email | default ('') }}"

ubuntu_main_url: "{{ ubuntu_main_url }}"
ubuntu_security_url: "{{ ubuntu_security_url }}"

docker_quay_auth: "{{ docker_quay_auth | default ('') }}"

devbox_private: "{{ devbox_private | default ('') }}"

# ex: et ts=2 filetype=yaml
