# {{ ansible_managed }}

<VirtualHost *:80>

	ServerName {{ item.main_domain }}.beta.datingnode.com
	ServerAlias {{ item.main_domain }}.beta.datingnode.com.{{ cluster.domain_suffix }}

{% for alias in item.main_alias %}
	ServerAlias {{ alias }}.beta.datingnode.com
	ServerAlias {{ alias }}.beta.datingnode.com
{% endfor %}

	ServerAdmin {{server_admin_email}}

	SetEnv SERVICE_ID {{ item.service_id }}
	SetEnv SERVICE_DOMAIN {{ item.main_domain }}
	SetEnv SERVICE_DOMAIN_API {{ item.api_domain }}
	SetEnv SERVICE_DOMAIN_CDN {{ item.cdn_domain }}
	SetEnv DATINGNODE_ENVIRONMENT_CONFIG /var/www/datingnode-config.json

	DocumentRoot {{ platform_super_dir }}/app-web
	<Directory {{ platform_super_dir }}/app-web>

		Options FollowSymLinks
		AllowOverride none
		Require all granted

		RewriteEngine on

#        RewriteRule ^v[^/]*/d/css/(.*)$ 	/var/www/datingnode-super/app-web/www/css/$1 [L,END]
#        RewriteRule ^v[^/]*/d/img/(.*)$ 	/var/www/datingnode-super/app-web/www/img/$1 [L,END]
#        RewriteRule ^v[^/]*/d/js/(.*)$ 		/var/www/datingnode-super/app-web/www/js/$1 [L,END]
#        RewriteRule ^v[^/]*/d/font/(.*)$ 	/var/www/datingnode-super/app-web/www/font/$1 [L,END]

#        RewriteRule ^v[^/]*/css/(.*)$ 		/var/www/datingnode-super/services/%{ENV:SERVICE_DOMAIN}/css/$1 [L,END]
#        RewriteRule ^v[^/]*/img/(.*)$ 		/var/www/datingnode-super/services/%{ENV:SERVICE_DOMAIN}/img/$1 [L,END]
#        RewriteRule ^v[^/]*/js/(.*)$ 		/var/www/datingnode-super/services/%{ENV:SERVICE_DOMAIN}/js/$1 [L,END]
#        RewriteRule ^v[^/]*/font/(.*)$ 		/var/www/datingnode-super/services/%{ENV:SERVICE_DOMAIN}/font/$1 [L,END]

        RewriteCond %{REQUEST_URI} !php$
        RewriteCond %{REQUEST_URI} !services/
        RewriteCond %{REQUEST_URI} !app-web/www/
        RewriteRule ^(.*)$ fcgi://127.0.0.1:9000/var/www/datingnode-super/app-web/pipe.php [P]

	</Directory>

	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000{{platform_super_dir}}app-web/$1

	<Location />

		<IfModule mod_filter.c>
		<IfModule mod_deflate.c>
		AddOutputFilterByType DEFLATE application/atom+xml \
			application/javascript \
			application/json \
			application/rss+xml \
			application/vnd.ms-fontobject \
			application/x-font-ttf \
			application/xhtml+xml \
			application/xml \
			font/opentype \
			image/svg+xml \
			image/x-icon \
			text/css \
			text/html \
			text/plain \
			text/x-component \
			text/xml
		</IfModule>
		</IfModule>

	</Location>

	CustomLog {{ platform_log_dir }}/app-web-apache-access.log combined
	ErrorLog {{ platform_log_dir }}/app-web-apache-error.log
	LogLevel warn

	RewriteEngine On
#	RewriteCond %{HTTP_HOST} !^www\.
#	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}$1 [R=301,L]


</VirtualHost>
