# {{ ansible_managed }}

<VirtualHost *:80>

	ServerName {{ item.cdn_domain }}
	ServerAlias {{ item.cdn_domain }}.{{ cluster.domain_suffix }}

{% for alias in item.cdn_alias %}
	ServerAlias {{ alias }}
	ServerAlias {{ alias }}.{{ cluster.domain_suffix }}
{% endfor %}

{% for discreet_domain in discreet_cdn_domains %}
	ServerAlias c{{ item.service_id }}.{{ discreet_domain }}
	ServerAlias c{{ item.service_id }}.{{ discreet_domain }}.{{ cluster.domain_suffix }}
{% endfor %}

	ServerAdmin {{ server_admin_email }}

	SetEnv SERVICE_ID {{ item.service_id }}
	SetEnv SERVICE_DOMAIN {{ item.main_domain }}
	SetEnv SERVICE_DOMAIN_API {{ item.api_domain }}
	SetEnv SERVICE_DOMAIN_CDN {{ item.cdn_domain }}
	SetEnv DATINGNODE_ENVIRONMENT_CONFIG /var/www/datingnode-config.json

	DocumentRoot {{ platform_super_dir }}

	<Directory {{ platform_super_dir }}/>

		Options FollowSymLinks
		AllowOverride none
		Require all granted

		<FilesMatch "\.(ttf|otf|eot|woff)$">
			<IfModule mod_headers.c>
				Header set Access-Control-Allow-Origin "*"
			</IfModule>
		</FilesMatch>

		RewriteEngine on

		RewriteRule ^v[^/]*/d/css/(.*)$ 	/var/www/datingnode-super/datingnode/www/css/$1 [L,END]
		RewriteRule ^v[^/]*/d/img/(.*)$ 	/var/www/datingnode-super/datingnode/www/img/$1 [L,END]
		RewriteRule ^v[^/]*/d/js/(.*)$ 		/var/www/datingnode-super/datingnode/www/js/$1 [L,END]
		RewriteRule ^v[^/]*/d/font/(.*)$ 	/var/www/datingnode-super/datingnode/www/font/$1 [L,END]

		RewriteRule ^v[^/]*/css/(.*)$ 		/var/www/datingnode-super/services/{{ item.main_domain }}/css/$1 [L,END]
		RewriteRule ^v[^/]*/img/(.*)$ 		/var/www/datingnode-super/services/{{ item.main_domain }}/img/$1 [L,END]
		RewriteRule ^v[^/]*/js/(.*)$ 		/var/www/datingnode-super/services/{{ item.main_domain }}/js/$1 [L,END]
		RewriteRule ^v[^/]*/font/(.*)$ 		/var/www/datingnode-super/services/{{ item.main_domain }}/font/$1 [L,END]


		RewriteCond %{REQUEST_URI} !php$
		RewriteCond %{REQUEST_URI} !services/
		RewriteCond %{REQUEST_URI} !datingnode/www/
		RewriteRule ^(.*)$ fcgi://127.0.0.1:9000/var/www/datingnode-super/datingnode/static.php [P]

	</Directory>

	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000{{platform_super_dir}}$1

	<Location />

		<IfModule mod_filter.c>
		<IfModule mod_deflate.c>

			AddOutputFilterByType DEFLATE application/atom+xml \
				application/javascript \
				application/json \
				application/rss+xml \
				application/vnd.ms-fontobject \
				application/x-font-ttf \
				application/xhtml+xml \
				application/xml \
				font/opentype \
				image/svg+xml \
				image/x-icon \
				text/css \
				text/html \
				text/plain \
				text/x-component \
				text/xml

		</IfModule>
		</IfModule>

	</Location>

#	CustomLog {{ platform_log_dir }}/service-static-apache-access.log combined
	ErrorLog {{ platform_log_dir }}/service-static-apache-error.log
	LogLevel warn

</VirtualHost>