# {{ ansible_managed }}

<VirtualHost *:80>

	ServerName control.datingnode.com
	ServerAlias control.{{ cluster.cluster.domain_suffix }}

	ServerAdmin {{ server_admin_email }}

	DocumentRoot {{ platform_super_dir }}/control

	SetEnv DATINGNODE_ENVIRONMENT_CONFIG /var/www/datingnode-config.json

	<Directory {{ platform_super_dir }}/control>

		Options FollowSymLinks
		AllowOverride none
		Require all granted

		RewriteEngine on

        RewriteRule  ^v[^/]*/css/(.*)$ 		{{platform_super_dir}}/control/www/css/$1 [L,END]
        RewriteRule ^v[^/]*/img/(.*)$ 		{{platform_super_dir}}/control/www/img/$1 [L,END]
        RewriteRule ^v[^/]*/js/(.*)$ 		{{platform_super_dir}}/control/www/js/$1 [L,END]
        RewriteRule ^v[^/]*/font/(.*)$ 		{{platform_super_dir}}/control/www/font/$1 [L,END]

        RewriteCond %{REQUEST_URI} !php$
        RewriteCond %{REQUEST_URI} !control/www/
        RewriteRule ^(.*)$ fcgi://127.0.0.1:9000{{platform_super_dir}}/control/index.php [P]

	</Directory>

	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000{{platform_super_dir}}$1

	<Location />

		<IfModule mod_filter.c>
		<IfModule mod_deflate.c>
		AddOutputFilterByType DEFLATE application/atom+xml \
			application/javascript \
			application/json \
			application/rss+xml \
			application/vnd.ms-fontobject \
			application/x-font-ttf \
			application/xhtml+xml \
			application/xml \
			font/opentype \
			image/svg+xml \
			image/x-icon \
			text/css \
			text/html \
			text/plain \
			text/x-component \
			text/xml
		</IfModule>
		</IfModule>

	</Location>

	CustomLog {{ platform_log_dir }}/control-apache-access.log combined
	ErrorLog {{ platform_log_dir }}/control-apache-error.log
	LogLevel warn


</VirtualHost>
